<%= form_for(@proyecto) do |f| %>
  <% if @proyecto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proyecto.errors.count, "error") %> prohibited this proyecto from being saved:</h2>

      <ul>
      <% @proyecto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :Url_de_la_imagen %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :Tipo_de_proyecto %><br />
    <%= f.text_field :type_pr %>
  </div>
  <div class="field">
   	 <%= f.label :Herramientas_que_se_utilizaron %><br />
    <%= f.text_field :tag_list %>
  </div>
 <div class="field">
   	 <%= f.label :Url_del_proyecto %><br />
    <%= f.text_field :proyecto_url %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
